Host master*
	User ubuntu
	IdentityFile ~/.ssh/id_rsa

Host worker*
	User fluffi_linux_user
	IdentityFile ~/.ssh/id_rsa

Host master5
	Hostname 250.154.202.36

Host worker5
	Hostname 250.154.202.119

Host master6
	Hostname 250.154.200.108
	
Host worker6
	Hostname 250.154.200.197

Host master7
	Hostname 250.154.201.187

Host worker7
	Hostname 250.154.201.109

Host master8
	Hostname 250.154.54.178

Host worker8
	Hostname 250.154.54.176
